<!-- ===== Footer Start ===== -->
<footer class="relative z-10 bg-black pt-20 pb-10 lg:pt-[120px] lg:pb-20">
    <div class="container mx-auto">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4 sm:w-2/3 lg:w-5/12">
          <div class="mb-10 w-full">
            <a
              href="javascript:void(0)"
              class="mb-6 inline-block max-w-[160px]"
            >
              <img
                src="/static/assets/images/logo/logo-white.png"
                alt="logo"
                class="max-w-full"
              />
            </a>
            <p class="mb-7 text-base text-white">
                At GlobalWis, we take pride in being the world's most rapid delivery service provider. With our carefully crafted network of routes and logistics solutions, we guarantee that your packages will reach their intended destination right on schedule. Say goodbye to the stress and frustration of delayed deliveries and entrust your logistics needs to GlobalWis for unparalleled speed and reliability.
            </p>
            <p class="flex items-center text-sm font-medium text-white">
                Ⓒ 2023 GlobalWis. All Rights Reserved.
            </p>
          </div>
        </div>
        <div class="w-full px-4 sm:w-1/2 lg:w-2/12">
          <div class="mb-10 w-full">
            <h4 class="mb-9 text-lg font-semibold text-white">Company</h4>
            <ul>
              <li>
                <a
                  href="{% url 'about' %}"
                  class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"
                >
                  About GlobalWis
                </a>
              </li>
              <li>
                <a
                  href="{% url 'support' %}"
                  class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"
                >
                  Contact & Support
                </a>
              </li>
              <li>
                  <div id="google_translate_element"></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full px-4 sm:w-1/2 lg:w-2/12">
          <div class="mb-10 w-full">
            <h4 class="mb-9 text-lg font-semibold text-white">Quick Links</h4>
            <ul>
              <li>
                <a
                  href="{% url 'location' %}"
                  class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"
                >
                  Locations
                </a>
              </li>
              <li>
                <a
                  href="{% url 'services' %}"
                  class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"
                >
                  Our Services
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full px-4 sm:w-1/2 lg:w-2/12">
          <div class="mb-10 w-full">
            <h4 class="mb-9 text-lg font-semibold text-white">Quick Links</h4>
            <ul>
              <li>
                <a
                  href="{% url 'create_shipment' %}"
                  class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"
                >
                  Shipping
                </a>
              </li>
              <li>
                <a
                  href="{% url 'tracking' %}"
                  class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"
                >
                  Tracking
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span class="absolute left-0 bottom-0 z-[-1]">
        <svg
          width="217"
          height="229"
          viewBox="0 0 217 229"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M-64 140.5C-64 62.904 -1.096 1.90666e-05 76.5 1.22829e-05C154.096 5.49924e-06 217 62.904 217 140.5C217 218.096 154.096 281 76.5 281C-1.09598 281 -64 218.096 -64 140.5Z"
            fill="url(#paint0_linear_1179_5)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_1179_5"
              x1="76.5"
              y1="281"
              x2="76.5"
              y2="1.22829e-05"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#3056D3" stop-opacity="0.08" />
              <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </span>
      <span class="absolute top-10 right-10 z-[-1]">
        <svg
          width="75"
          height="75"
          viewBox="0 0 75 75"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M37.5 -1.63918e-06C58.2107 -2.54447e-06 75 16.7893 75 37.5C75 58.2107 58.2107 75 37.5 75C16.7893 75 -7.33885e-07 58.2107 -1.63918e-06 37.5C-2.54447e-06 16.7893 16.7893 -7.33885e-07 37.5 -1.63918e-06Z"
            fill="url(#paint0_linear_1179_4)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_1179_4"
              x1="-1.63917e-06"
              y1="37.5"
              x2="75"
              y2="37.5"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#13C296" stop-opacity="0.31" />
              <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </span>
    </div>
  </footer>
  <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>