{% include 'navbar.html' %}
<main>
    <!-- ===== Hero Start ===== -->
    <section class="gj do ir hj sp jr i pg">
        <!-- Hero Images -->
        <div class="xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q r">
          <img src="/static/assets/images/shape/images/shape-01.svg" alt="shape" class="xc 2xl:ud-block h t -ud-left-[10%] ua" />
          <img src="/static/assets/images/shape/images/shape-02.svg" alt="shape" class="xc 2xl:ud-block h u p va" />
          <img src="/static/assets/images/shape/images/shape-03.svg" alt="shape" class="xc 2xl:ud-block h v w va" />
          <img src="/static/assets/images/shape/images/shape-04.svg" alt="shape" class="h q r" />
          <img src="/static/assets/images/shape/images/global-wis-agent-vz.png" alt="Male Agent" class="h q r ua" style="height: 680px; width: 680px; margin-top: -20px;"/>
        </div>

        <!-- Hero Content -->
        <div class="bb ze ki xn 2xl:ud-px-0">
          <div class="tc _o">
            <div class="animate_left jn/2">
              <h1 class="fk vj zp or kk wm wb">We specialize in fast, reliable delivery services that exceed expectations.</h1>
              <p class="fq">
                At GlobalWis, we take pride in our ability to provide fast and reliable delivery services that go above and beyond your expectations. Whether it's a package for your business or a personal shipment, our team is committed to ensuring that your items arrive safely and on time. With our focus on speed, accuracy, and exceptional customer service, you can trust us to handle all of your delivery needs with care and efficiency.
              </p>

              <div class="tc tf yo zf mb">
                <a href="{% url 'create_shipment' %}" class="rounded-lg bg-purple py-3 px-7 text-base font-medium text-white hover:bg-opacity-90"
                  >Start Shipment</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ===== Hero End ===== -->
      <div
          class="animate_top bb af i va sg hh sm vk xm yi _n jp hi ao kp"
        >
          <!-- Bg Border -->
          <span class="rc h r s zd/2 od zg gh"></span>
          <span class="rc h r q zd/2 od xg mh"></span>

          <div class="rj">
            <h2 class="ek ck kk wm xb">Input Tracking Code</h2>
          </div>
          <form class="sb" action="{% url 'track_shipment' %}" method="POST">
            {% csrf_token %}
            <div class="wb">
              <input
                type="text"
                id="package_id" 
                name="package_id" 
                required
                placeholder="gbw0001189111"
                class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40"
              />
            </div>
            <!-- type="submit" -->
            <button  class="rounded-lg bg-purple py-3 px-7 text-base font-medium text-white hover:bg-opacity-90 w-full">
              Track
            </button>
          </form>
        </div>
      <!-- ===== Small Features Start ===== -->
      <section id="features" class="py-9">
        <div class="bb ze ki yn 2xl:ud-px-12.5">
          <div class="tc uf zo xf ap zf bp mq">
            <!-- Small Features Item -->
            <div class="animate_top kn to/3 tc cg oq">
              <div class="tc wf xf cf ae cd rg mh">
                <img src="static/assets/images/shape/images/icon-01.svg" alt="Icon" />
              </div>
              <div>
                <h4 class="ek yj go kk wm xb">24/7 Support</h4>
                <p>Always available to assist with your delivery needs.</p>
              </div>
            </div>

            <!-- Small Features Item -->
            <div class="animate_top kn to/3 tc cg oq">
              <div class="tc wf xf cf ae cd rg nh">
                <img src="static/assets/images/shape/images/icon-02.svg" alt="Icon" />
              </div>
              <div>
                <h4 class="ek yj go kk wm xb">Easy and Intuitive Navigation</h4>
                <p>Quickly find the information you need.</p>
              </div>
            </div>

            <!-- Small Features Item -->
            <div class="animate_top kn to/3 tc cg oq">
              <div class="tc wf xf cf ae cd rg oh">
                <img src="static/assets/images/shape/images/icon-03.svg" alt="Icon" />
              </div>
              <div>
                <h4 class="ek yj go kk wm xb">Online Tracking</h4>
                <p>Real-time updates on the status of your shipments.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ===== Small Features End ===== -->

      <!-- ===== About Start ===== -->
      <section class="ji gp uq 2xl:ud-py-35 pg">
        <div class="bb ze ki xn wq">
          <div class="tc wf gg qq">
            <!-- About Images -->
            <div class="animate_left xc gn gg jn/2 i">
              <div>
                <img src="/static/assets/images/shape/images/shape-05.svg" alt="Shape" class="h -ud-left-5 x" />
                <img src="/static/assets/images/shape/images/delivery-shape.png" alt="About" class="ib" />
                <img src="/static/assets/images/shape/images/delivery-shape-02.png" alt="About" />
              </div>
              <div>
                <img src="/static/assets/images/shape/images/shape-06.svg" alt="Shape" />
                <img src="/static/assets/images/shape/images/delivery-shape-03.png" alt="About" class="ob gb" />
                <img src="/static/assets/images/shape/images/shape-07.svg" alt="Shape" class="bb" />
              </div>
            </div>

            <!-- About Content -->
            <div class="animate_right jn/2">
              <h2 class="fk vj zp pr kk wm qb">How Huge Business Savings Start Here</h2>
              <p class="uo">Save up to 40% on select shipping and surcharges when you open a free account.</p>
              <div class="mt-3 py-3">
                <a href="{% url 'create_shipment' %}" class="rounded-lg bg-purple py-3 px-7 text-base font-medium text-white hover:bg-opacity-90">
                  Start Saving
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ===== About End ===== -->

       <!-- ===== Services Start ===== -->
       <section class="lj tp kr">
        <!-- Section Title Start -->
        <div
          x-data="{ sectionTitle: `We Offer The Best Quality Service for You`, sectionTitleText: `Our delivery company provides unparalleled quality service, tailored to meet your needs and exceed expectations.`}"
        >
          <div class="animate_top bb ze rj ki xn vq">
    <h2
            x-text="sectionTitle"
            class="fk vj pr kk wm on/5 gq/2 bb _b"
    >
    </h2>
    <p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
</div>


        </div>
        <!-- Section Title End -->

        <div class="bb ze ki xn yq mb en">
          <div class="wc qf pn xo ng">
            <!-- Service Item -->
            <div class="animate_top sg oi pi zq ml il am cn _m">
              <img src="/static/assets/images/shape/images/icon-04.svg" alt="Icon" />
              <h4 class="ek zj kk wm nb _b">Drop off a Package</h4>
              <p>Conveniently drop off your package at our locations.
                When you need to send a package, our delivery company provides convenient drop-off locations, saving you time and effort. We offer quick and secure service for all of your package delivery needs.</p>
            </div>

            <!-- Service Item -->
            <div class="animate_top sg oi pi zq ml il am cn _m">
              <img src="/static/assets/images/shape/images/icon-05.svg" alt="Icon" />
              <h4 class="ek zj kk wm nb _b">Redirect a Package</h4>
              <p>Easily redirect your package to a new address.
                Sometimes, plans change, and packages need to be redirected to a new address. Our delivery company makes it easy to update shipping information and ensure that your package arrives at its intended destination.</p>
            </div>

            <!-- Service Item -->
            <div class="animate_top sg oi pi zq ml il am cn _m">
              <img src="/static/assets/images/shape/images/icon-06.svg" alt="Icon" />
              <h4 class="ek zj kk wm nb _b">Store Hours and Services</h4>
              <p>Discover our services and store hours.
                To make your delivery experience as smooth as possible, we provide information about our services and store hours. From shipping options to in-store pick-up, we're here to help with all of your delivery needs.</p>
            </div>

            <!-- Service Item -->
            <div class="animate_top sg oi pi zq ml il am cn _m">
              <img src="/static/assets/images/shape/images/icon-07.svg" alt="Icon" />
              <h4 class="ek zj kk wm nb _b">Service Alerts</h4>
              <p>Stay up-to-date on service disruptions and delays.
                We understand that timing is critical when it comes to delivery. That's why we provide service alerts to keep you informed of any potential disruptions or delays that may impact your package.p>
            </div>

            <!-- Service Item -->
            <div class="animate_top sg oi pi zq ml il am cn _m">
              <img src="/static/assets/images/shape/images/icon-05.svg" alt="Icon" />
              <h4 class="ek zj kk wm nb _b">Return a Package</h4>
              <p>Hassle-free returns for your convenience.
                At our delivery company, we want to ensure that your delivery experience is hassle-free from start to finish. That's why we offer simple and convenient return options for your convenience.</p>
            </div>

            <!-- Service Item -->
            <div class="animate_top sg oi pi zq ml il am cn _m">
              <img src="/static/assets/images/shape/images/icon-06.svg" alt="Icon" />
              <h4 class="ek zj kk wm nb _b">Support 24/7</h4>
              <p>Our team is always ready to assist you.
                We understand that questions and concerns can arise at any time, which is why our support team is available 24/7 to provide assistance. Whether you have a question about a delivery or need help with tracking, we're here to help.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- ===== Services End ===== -->

<!-- ==== Testimonials Start ===== -->
<section class="hj rp hr">
  <!-- Section Title Start -->
  <div
    x-data="{ sectionTitle: `Client’s Testimonial`, sectionTitleText: `Our client's testimonial speak volume about the quality of our services. Read what our satisfied customers have to say about their experience with our delivery company, and discover why we are a trusted choice for all your delivery needs.`}"
  >
    <div class="animate_top bb ze rj ki xn vq">
<h2
      x-text="sectionTitle"
      class="fk vj pr kk wm on/5 gq/2 bb _b"
>
</h2>
<p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
</div>


  </div>
  <!-- Section Title End -->

  <div class="bb ze ki xn ar">
    <div class="animate_top jb cq">
      <!-- Slider main container -->
      <div class="swiper testimonial-01">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="i hh rm sg vk xm bi qj">
              <!-- Border Shape -->
              <span class="rc je md/2 gh xg h q r"></span>
              <span class="rc je md/2 mh yg h q p"></span>

              <div class="tc sf rn tn un zf dp">
                <img class="bf" src="/static/assets/images/shape/images/client-happy.png" alt="User" />

                <div>
                  <img src="/static/assets/images/shape/images/icon-quote.svg" alt="Quote" />
                  <p class="ek ik xj _p kc fb">
                    I've been using GlobalWis for all of my delivery needs for years, and they never disappoint. Their team is always professional and courteous, and my packages always arrive on time and in perfect condition. I highly recommend GlobalWis to anyone looking for reliable and efficient delivery services.
                  </p>

                  <div class="tc yf vf">
                    <div>
                      <span class="rc ek xj kk wm zb">Anders Olsen</span>
                      <span class="rc">Norway</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="i hh rm sg vk xm bi qj">
              <!-- Border Shape -->
              <span class="rc je md/2 gh xg h q r"></span>
              <span class="rc je md/2 mh yg h q p"></span>

              <div class="tc sf rn tn un zf dp">
                <img class="bf" src="/static/assets/images/shape/images/emily-gbw-client.png" alt="User" />

                <div>
                  <img src="/static/assets/images/shape/images/icon-quote.svg" alt="Quote" />
                  <p class="ek ik xj _p kc fb">
                    I recently had to ship some fragile items internationally, and I was nervous about trusting any delivery company with them. However, after doing some research, I decided to go with GlobalWis, and I am so glad I did. Their team handled my packages with the utmost care, and they arrived at their destination in perfect condition. I cannot recommend GlobalWis enough for anyone in need of reliable and trustworthy delivery services.
                  </p>

                  <div class="tc yf vf">
                    <div>
                      <span class="rc ek xj kk wm zb">Emily Wong</span>
                      <span class="rc">Canada</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="i hh rm sg vk xm bi qj">
              <!-- Border Shape -->
              <span class="rc je md/2 gh xg h q r"></span>
              <span class="rc je md/2 mh yg h q p"></span>

              <div class="tc sf rn tn un zf dp">
                <img class="bf" src="/static/assets/images/shape/images/juan-gbw-client.png" alt="User" />

                <div>
                  <img src="/static/assets/images/shape/images/icon-quote.svg" alt="Quote" />
                  <p class="ek ik xj _p kc fb">
                    As a small business owner, I rely on GlobalWis to deliver my products to customers in a timely and professional manner. I have been using their services for over two years now, and I am consistently impressed with their attention to detail and commitment to customer satisfaction. Their team goes above and beyond to ensure that my packages arrive at their destination on time and in perfect condition. Thank you, GlobalWis, for helping me grow my business!
                  </p>

                  <div class="tc yf vf">
                    <div>
                      <span class="rc ek xj kk wm zb">Juan Perez</span>
                      <span class="rc">Mexico</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="i hh rm sg vk xm bi qj">
              <!-- Border Shape -->
              <span class="rc je md/2 gh xg h q r"></span>
              <span class="rc je md/2 mh yg h q p"></span>

              <div class="tc sf rn tn un zf dp">
                <img class="bf" src="/static/assets/images/shape/images/sarah-gbw-client.png" alt="User" />

                <div>
                  <img src="/static/assets/images/shape/images/icon-quote.svg" alt="Quote" />
                  <p class="ek ik xj _p kc fb">
                    I've been using GlobalWis for my international shipping needs for the past year, and I am blown away by their exceptional service. Their team is always quick to respond to any questions or concerns I have, and my packages always arrive at their destination on time and in perfect condition. I couldn't recommend GlobalWis enough. Thank you for making my life easier!
                  </p>

                  <div class="tc yf vf">
                    <div>
                      <span class="rc ek xj kk wm zb">Sarah Smith</span>
                      <span class="rc">United States</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- If we need navigation -->
        <div class="tc wf xf fg jb">
          <div
            class="swiper-button-prev c tc wf xf ie ld rg _g dh pf ml vr hh rm tl zm rl ym"
          >
            <svg class="th lm" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.52366 7.83336L7.99366 12.3034L6.81533 13.4817L0.333663 7.00002L6.81533 0.518357L7.99366 1.69669L3.52366 6.16669L13.667 6.16669L13.667 7.83336L3.52366 7.83336Z"
                fill=""
              />
            </svg>
          </div>
          <div
            class="swiper-button-next c tc wf xf ie ld rg _g dh pf ml vr hh rm tl zm rl ym"
          >
            <svg class="th lm" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.4763 6.16664L6.00634 1.69664L7.18467 0.518311L13.6663 6.99998L7.18467 13.4816L6.00634 12.3033L10.4763 7.83331H0.333008V6.16664H10.4763Z" fill="" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===== Testimonials End ===== -->

<!-- ===== Counter Start ===== -->
<section class="i pg qh rm ji hp">
  <img src="/static/assets/images/shape/images/shape-11.svg" alt="Shape" class="of h ga ha ke" />
  <img src="/static/assets/images/shape/images/shape-07.svg" alt="Shape" class="h ia o ae jf" />
  <img src="/static/assets/images/shape/images/shape-14.svg" alt="Shape" class="h ja ka" />
  <img src="/static/assets/images/shape/images/shape-15.svg" alt="Shape" class="h q p" />

  <div class="bb ze i va ki xn br">
    <div class="tc uf sn tn xf un gg">
      <div class="animate_top me/5 ln rj">
        <h2 class="gk vj zp or kk wm hc">379</h2>
        <p class="ek bk aq">Global Brands</p>
      </div>
      <div class="animate_top me/5 ln rj">
        <h2 class="gk vj zp or kk wm hc">2,987</h2>
        <p class="ek bk aq">Happy Clients</p>
      </div>
      <div class="animate_top me/5 ln rj">
        <h2 class="gk vj zp or kk wm hc">92</h2>
        <p class="ek bk aq">Winning Award</p>
      </div>
    </div>
  </div>
</section>
<!-- ===== Counter End ===== -->

<!-- ===== Clients Start ===== -->
<section class="pj vp mr">
    <!-- Section Title Start -->
    <div
      x-data="{ sectionTitle: `Trusted by Global Brands`, sectionTitleText: `It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.`}"
    >
      <div class="animate_top bb ze rj ki xn vq">
<h2
        x-text="sectionTitle"
        class="fk vj pr kk wm on/5 gq/2 bb _b"
>
</h2>
<p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
</div>
        </div>
        <!-- Section Title End -->

        <div class="bb ze ah ch pm hj xp ki xn 2xl:ud-px-49 bc">
          <div class="wc rf qn zf cp kq xf wf">
            <a href="#" class="rc animate_top">
              <img class="th wl ml il zl om" src="/static/assets/images/shape/images/brand-light-01.svg" alt="Clients" />
              <img class="xc sk ml il zl nm" src="/static/assets/images/shape/images/brand-dark-01.svg" alt="Clients" />
            </a>
            <a href="#" class="rc animate_top">
              <img class="tk ml il zl om" src="/static/assets/images/shape/images/brand-light-02.svg" alt="Clients" />
              <img class="xc sk ml il zl nm" src="/static/assets/images/shape/images/brand-dark-02.svg" alt="Clients" />
            </a>
            <a href="#" class="rc animate_top">
              <img class="tk ml il zl om" src="/static/assets/images/shape/images/brand-light-03.svg" alt="Clients" />
              <img class="xc sk ml il zl nm" src="/static/assets/images/shape/images/brand-dark-03.svg" alt="Clients" />
            </a>
            <a href="#" class="rc animate_top">
              <img class="tk ml il zl om" src="/static/assets/images/shape/images/brand-light-04.svg" alt="Clients" />
              <img class="xc sk ml il zl nm" src="/static/assets/images/shape/images/brand-dark-04.svg" alt="Clients" />
            </a>
            <a href="#" class="rc animate_top">
              <img class="tk ml il zl om" src="/static/assets/images/shape/images/brand-light-05.svg" alt="Clients" />
              <img class="xc sk ml il zl nm" src="/static/assets/images/shape/images/brand-dark-05.svg" alt="Clients" />
            </a>
            <a href="#" class="rc animate_top">
              <img class="tk ml il zl om" src="/static/assets/images/shape/images/brand-light-06.svg" alt="Clients" />
              <img class="xc sk ml il zl nm" src="/static/assets/images/shape/images/brand-dark-06.svg" alt="Clients" />
            </a>
          </div>
        </div>
      </section>
      <!-- ===== Clients End ===== -->

            <!-- ===== Contact Start ===== -->
            <section id="support" class="i pg fh rm ji gp uq">
                <!-- Bg Shapes -->
                <img src="/static/assets/images/shape/images/shape-06.svg" alt="Shape" class="h aa y" />
                <img src="/static/assets/images/shape/images/shape-03.svg" alt="Shape" class="h ca u" />
                <img src="/static/assets/images/shape/images/shape-07.svg" alt="Shape" class="h w da ee" />
                <img src="/static/assets/images/shape/images/shape-12.svg" alt="Shape" class="h p s" />
                <img src="/static/assets/images/shape/images/shape-13.svg" alt="Shape" class="h r q" />
        
                <!-- Section Title Start -->
                <div
                  x-data="{ sectionTitle: `Let’s Stay Connected`, sectionTitleText: `At GlobalWis, we are dedicated to providing exceptional service to all of our customers. If you have any concerns or questions about your delivery, please do not hesitate to contact us. You can fill out our contact form, send a detailed email, or give us a call - we are available 24/7 to support all of your delivery needs. Our team is always ready to provide the assistance you need to ensure that your package arrives safely and on time.`}"
                >
                  <div class="animate_top bb ze rj ki xn vq">
            <h2
                    x-text="sectionTitle"
                    class="fk vj pr kk wm on/5 gq/2 bb _b"
            >
            </h2>
            <p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
        </div>
        
        
                </div>
                <!-- Section Title End -->
        
                <div class="i va bb ye ki xn wq jb mo">
                  <div class="tc uf sn tf rn un zf xl:gap-10">
                    <div class="animate_top w-full mn/5 to/3 vk sg hh sm yh rq i pg">
                      <!-- Bg Shapes -->
                      <img src="/static/assets/images/shape/images/shape-03.svg" alt="Shape" class="h la x wd" />
                      <img src="/static/assets/images/shape/images/shape-06.svg" alt="Shape" class="h la ma ne kf" />
        
                      <div class="fb">
                        <h4 class="wj kk wm cc">Email Address</h4>
                        <p><a href="#">support@global-wis.com</a></p>
                      </div>
                      <div class="fb">
                        <h4 class="wj kk wm cc">Office Location</h4>
                        <p>NY 11215, 5th Street, Brooklyn, NY, USA</p>
                      </div>
                      <div class="fb">
                        <h4 class="wj kk wm cc">Call Us on</h4>
                        <p><a href="#">+1 (562) 245-9114</a></p>
                      </div>
                    </div>
        
                    <div class="animate_top w-full nn/5 vo/3 vk sg hh sm yh tq">
                      <form action="{% url 'support' %}" method="POST">
                        {% csrf_token %}
                        <div class="tc sf yo ap zf ep qb">
                          <div class="vd to/2">
                            <label class="rc ac" for="full_name" style="font-weight: bold;">Full name</label>
                            <input
                              type="text"
                              name="full_name"
                              id="full_name"
                              placeholder="Devid Wonder"
                              class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                            />
                          </div>
        
                          <div class="vd to/2">
                            <label class="rc ac" for="email" style="font-weight: bold;">Email address</label>
                            <input
                              type="email"
                              name="email"
                              id="email"
                              placeholder="example@gmail.com"
                              class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                            />
                          </div>
                        </div>
        
                        <div class="tc sf yo ap zf ep qb">
                          <div class="vd to/2">
                            <label class="rc ac" for="phone_number" style="font-weight: bold;">Phone number</label>
                            <input
                              type="text"
                              name="phone_number"
                              id="phone_number"
                              placeholder="+009 3342 3432"
                              class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                            />
                          </div>
        
                          <div class="vd to/2">
                            <label class="rc ac" for="subject" style="font-weight: bold;">Subject</label>
                            <input
                              type="text"
                              name="subject"
                              id="subject"
                              placeholder="Type your subject"
                              class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                            />
                          </div>
                        </div>
        
                        <div class="fb">
                          <label class="rc ac" for="message" style="font-weight: bold;">Message</label>
                          <textarea
                            placeholder="Message"
                            rows="4"
                            name="message"
                            id="message"
                            class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 ci"
                          ></textarea>
                        </div>
        
                        <div class="tc xf">
                          <button type="submit" class="vd rj ek rc rg gh lk ml il _l gi hi">Send Message</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </section>
              <!-- ===== Contact End ===== -->
        
              <section class="py-20 lg:py-[120px]">
                <div class="container mx-auto">
                  <div
                    class="relative z-10 overflow-hidden rounded bg-purple py-12 px-8 md:p-[70px] rounded-lg"
                  >
                    <div class="-mx-4 flex flex-wrap items-center">
                      <div class="w-full px-4 lg:w-1/2">
                        <span class="mb-2 text-base font-semibold text-white">
                            Let us help streamline your efforts
                        </span>
                        <h2
                          class="mb-6 text-3xl font-bold leading-tight text-white sm:mb-8 sm:text-[38px] lg:mb-0"
                        >
                            Our delivery services are designed to assist you with all of your shipping needs.
                        </h2>
                      </div>
                      <div class="w-full px-4 lg:w-1/2">
                        <div class="flex flex-wrap lg:justify-end">
                          <a
                            href="{% url 'create_shipment' %}"
                            class="my-1 mr-4 inline-block rounded bg-white bg-opacity-[15%] py-4 px-6 text-base font-medium text-white transition hover:bg-opacity-100 hover:text-primary md:px-9 lg:px-6 xl:px-9"
                          >
                            Start Shipment
                          </a>
                          <a
                            href="{% url 'tracking' %}"
                            class="my-1 inline-block rounded bg-white py-4 px-6 text-base font-medium text-black transition hover:bg-opacity-90 md:px-9 lg:px-6 xl:px-9"
                          >
                            Track Package
                          </a>
                        </div>
                      </div>
                    </div>
          
                    <div>
                      <span class="absolute top-0 left-0 z-[-1]">
                        <svg
                          width="189"
                          height="162"
                          viewBox="0 0 189 162"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <ellipse
                            cx="16"
                            cy="-16.5"
                            rx="173"
                            ry="178.5"
                            transform="rotate(180 16 -16.5)"
                            fill="url(#paint0_linear)"
                          />
                          <defs>
                            <linearGradient
                              id="paint0_linear"
                              x1="-157"
                              y1="-107.754"
                              x2="98.5011"
                              y2="-106.425"
                              gradientUnits="userSpaceOnUse"
                            >
                              <stop stop-color="white" stop-opacity="0.07" />
                              <stop offset="1" stop-color="white" stop-opacity="0" />
                            </linearGradient>
                          </defs>
                        </svg>
                      </span>
                      <span class="absolute bottom-0 right-0 z-[-1]">
                        <svg
                          width="191"
                          height="208"
                          viewBox="0 0 191 208"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <ellipse
                            cx="173"
                            cy="178.5"
                            rx="173"
                            ry="178.5"
                            fill="url(#paint0_linear)"
                          />
                          <defs>
                            <linearGradient
                              id="paint0_linear"
                              x1="-3.27832e-05"
                              y1="87.2457"
                              x2="255.501"
                              y2="88.5747"
                              gradientUnits="userSpaceOnUse"
                            >
                              <stop stop-color="white" stop-opacity="0.07" />
                              <stop offset="1" stop-color="white" stop-opacity="0" />
                            </linearGradient>
                          </defs>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </section>
              <!-- <h1>Welcome to Swiftdrop {{user.username}}!</h1> -->
</main>
{% include "footer.html" %}