
{% include "navbar.html" %}
<section class="pt-20 pb-10 lg:pt-[120px] lg:pb-20">
  <div class="container mx-auto">
    <div class="-mx-4 flex flex-wrap justify-center">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[310px] text-center lg:mb-20">
          <h1 class="text-xl text-bold">Upload Image for Shipment #{{ shipment.pk }}</h1>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="pt-5">
              <svg class="text-indigo-500 mx-auto mb-4" style="width:100px; height:100px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" /></svg>
            </div>
            <div class="form-group pb-10">
              <input type="file" name="image" id="image">
            </div>
            <button type="submit" class="vd rj ek rc rg gh lk ml il _l gi hi">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "footer.html" %}