{% include 'navbar.html' %}
<!-- ====== Blog Section Start -->
<section class="pt-20 pb-10 lg:pt-[120px] lg:pb-20">
    <div class="container mx-auto">
      <div class="-mx-4 flex flex-wrap justify-center">
        <div class="w-full px-4">
          <div class="mx-auto mb-[60px] max-w-[510px] text-center lg:mb-20">
            <span class="mb-2 block text-lg font-semibold text-primary">
              News Update
            </span>
            <h2
              class="mb-4 text-3xl font-bold text-dark sm:text-4xl md:text-[40px]"
            >
              Recent News
            </h2>
          </div>
        </div>
      </div>
      {% if articles %}
      <div class="-mx-4 flex flex-wrap">
        {% for article in articles %}
        <div class="w-full px-4 md:w-1/2 lg:w-1/3">
          <div class="mx-auto mb-10 max-w-[370px]">
            <div class="mb-8 overflow-hidden rounded">
              <img
                src="{{ article.image }}"
                alt="image"
                class="w-full"
              />
            </div>
            <div>
              <span
                class="mb-5 inline-block rounded bg-primary py-1 px-4 text-center text-xs font-semibold leading-loose text-white"
              >
              {{ article.publishedAt }}
              </span>
              <h3>
                <a
                  href="javascript:void(0)"
                  class="mb-4 inline-block text-xl font-semibold text-dark hover:text-primary sm:text-2xl lg:text-xl xl:text-2xl"
                >
                {{ article.title }}
                </a>
              </h3>
              <p class="text-base text-body-color">
                {{ article.description }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <span class="mb-2 block text-lg font-semibold text-primary">
        No News Update Currently
      </span>
      {% endif %}
    </div>
  </section>
  <!-- ====== Blog Section End -->
{% include 'footer.html' %}