{% include "navbar.html" %}
<head>
  <meta charset="UTF-8">
  <title>Select Packaging</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
      // Hide box and envelope fields by default
      $("#box-fields").hide();
      $("#envelope-fields").hide();
      
      // Show my own package fields by default
      $("#own-package-fields").show();
      
      // When the packaging type is changed
      $("#packaging_type").change(function(){
        // Hide all fields
        $("#own-package-fields").hide();
        $("#box-fields").hide();
        $("#envelope-fields").hide();
        
        // Show the fields for the selected option
        if($(this).val() === "own_package") {
          $("#own-package-fields").show();
        } else if ($(this).val() === "box") {
          $("#box-fields").show();
        } else if ($(this).val() === "envelope") {
          $("#envelope-fields").show();
        }
      });
    });
  </script>
</head>
<section class="pt-20 pb-10 lg:pt-[120px] lg:pb-20">
  <div class="container mx-auto">
    <form method="post">
      {% csrf_token %}
      <div class="-mx-4 flex flex-wrap justify-center">
        <div class="w-full px-4">
          <div class="mx-auto mb-[60px] max-w-[410px] text-center lg:mb-20">
            <h2
              class="mb-4 text-3xl font-bold text-dark sm:text-4xl md:text-[40px]"
            >
              Select Packaging
            </h2>
            <div class="form-group" style="margin-top:30px;">
              <label for="packaging_type" class="mb-5 inline-block rounded bg-primary py-1 px-4 text-center text-xs font-semibold leading-loose text-white">Packaging Type:</label>
              <select id="packaging_type" name="packaging_type" style="border: 2px solid #000;">
                <option value="own_package" selected>My Own Package</option>
                <option value="envelope_a2" >A2 Envelope – 420mm × 594mm</option>
                <option value="envelope_a5">A5 Envelope – 148mm × 210mm</option>
                <option value="envelope_a6">A6 Envelope – 105mm × 148mm</option>
                <option value="envelope_a7">A7 Envelope – 74mm × 105mm</option>
                <option value="envelope_a9">A9 Envelope – 37mm × 52mm</option>
                <option value="box_small_cube">Small cube box 7×7×6</option>
                <option value="box_large_cube">Large cube box 12×12×8</option>
                <option value="box_shoebox">Shoebox 7×5×14</option>
                <option value="box_small_side">Small side box 11×2×13</option>
                <option value="box_medium_side">Medium side box 12×3×14</option>
                <option value="box_large_side">Large side box 20×5×20</option>
                <option value="box_extra_large_side">Extra Large side box 40×10×40</option>
              </select>
            </div>
            <div class="form-group">
              <label for="quantity" class="mb-5 inline-block rounded bg-primary py-1 px-4 text-center text-xs font-semibold leading-loose text-white">Quantity(KG):</label>
              <input type="number" name="quantity" class="form-control" id="quantity" min="1" value="1" style="border: 2px solid #000;">
              </div>
              <div class="form-group">
              <label for="weight" class="mb-5 inline-block rounded bg-primary py-1 px-4 text-center text-xs font-semibold leading-loose text-white">Weight (LB):</label>
              <input type="number" name="weight" class="form-control" id="weight" step="0.01" min="0" style="border: 2px solid #000;">
            </div>
            <div class="form-group">
              <label for="length" class="mb-5 inline-block rounded bg-primary py-1 px-4 text-center text-xs font-semibold leading-loose text-white">Length (IN):</label>
              <input type="number" name="length" class="form-control" id="length" step="0.01" min="0" style="border: 2px solid #000;">
            </div>
            <div class="form-group">
              <label for="width" class="mb-5 inline-block rounded bg-primary py-1 px-4 text-center text-xs font-semibold leading-loose text-white">Width (IN):</label>
              <input type="number" name="width" class="form-control" id="width" step="0.01" min="0" style="border: 2px solid #000;">
            </div>
            <div class="form-group">
              <label for="height" class="mb-5 inline-block rounded bg-primary py-1 px-4 text-center text-xs font-semibold leading-loose text-white">Height (IN):</label>
              <input type="number" name="height" class="form-control" id="height" step="0.01" min="0" style="border: 2px solid #000;">
            </div>
            <input type="submit" value="Submit" style="cursor:pointer;width:80%; margin:auto;" class="vd rj ek rc rg gh lk ml il _l gi hi">
          </div>
      </form>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}