{% load static %}

<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<title>Register - E Store</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
<style>
    .limiter {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .container-login100 {
        width: 100%;
        max-width: 400px;
    }
</style>
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-90 p-b-30">
				<!--<a href="#"><img src="images/logo-free.png"></a>-->
				<span class="login100-form-title p-b-40">
					<div class="order-1 md:order-2">
						<a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl" style="font-size: 1.4rem; color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" href="{% url 'item-list' %}">
							<svg class="fill-current text-gray-800 mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path d="M5,22h14c1.103,0,2-0.897,2-2V9c0-0.553-0.447-1-1-1h-3V7c0-2.757-2.243-5-5-5S7,4.243,7,7v1H4C3.447,8,3,8.447,3,9v11 C3,21.103,3.897,22,5,22z M9,7c0-1.654,1.346-3,3-3s3,1.346,3,3v1H9V7z M5,10h2v2h2v-2h6v2h2v-2h2l0.002,10H5V10z" />
							</svg>
							E-Store
						</a>
					</div>
					</span>
					<form class="login100-form validate-form" action="{% url 'sign_up' %}" method="POST">
						{% csrf_token %}
						<span class="login100-form-title p-b-40" style="color: rgb(82, 73, 73); font-size: 0.6cm;">
							Register
						</span>
					
						<div>
							<style>
								h5{
									padding-bottom: 10px;
									color: red;
								}
							</style>
							{% for message in messages %}
							<h5 align="center">{{ message }}</h5>
							{% endfor %}
						</div>
					
						<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email: ex@abc.xyz">
							<input class="input100" type="email" name="email" placeholder="Email">
							<span class="focus-input100"></span>
						</div>                        
					
						<div class="wrap-input100 validate-input m-b-16">
							<input class="input100" type="text" name="username" placeholder="Username">
							<span class="focus-input100"></span>
						</div>  
					
						<div class="wrap-input100 validate-input m-b-20" data-validate="Please enter password">
							<span class="btn-show-pass">
								<i class="fa fa fa-eye"></i>
							</span>
							<input class="input100" type="password" name="password" placeholder="Password">
							<span class="focus-input100"></span>
						</div>
					
						<div class="wrap-input100 validate-input m-b-20" data-validate="Please enter password">
							<span class="btn-show-pass">
								<i class="fa fa fa-eye"></i>
							</span>
							<input class="input100" type="password" name="password2" placeholder="Repeat Password">
							<span class="focus-input100"></span>
						</div>
					
						<div class="container-login100-form-btn">
							<button class="login100-form-btn" type="submit" style="background-color: #333333;">Register</button>
						</div><br>
					
						<div align="center">
							<span class="txt2 p-b-10">Already have an account?</span><br>
							<a href="{% url 'login' %}" class="txt3 bo1 hov1">Login now</a>
						</div>
					</form>
					
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
</body>

</html>
